Source: heaptrace
Section: utils
Priority: optional
Maintainer: Aaron Esau (Debian) <aaron1esau@gmail.com>
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 4.1.2
Homepage: https://github.com/Arinerron/heaptrace

Package: heaptrace
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: helps visualize heap operations for pwn and debugging
  heaptrace is a heap debugger for tracking glibc heap 
  operations in ELF64 (x86_64) binaries. Its purpose is to 
  help visualize heap operations when debugging binaries 
  or doing heap pwn.
